<div class="card" style="margin-top:20px;">
  <h2>Gizlilik Politikası (Şablon)</h2>
  <div class="p">
    Bu sayfa bir şablondur. Public launch öncesi şirketinize göre uyarlayın.
    <br><br>
    <b>Toplanan veriler:</b> Tedarikçi belgeleri, tedarikçi iletişim bilgileri, kullanıcı hesap verileri.
    <br>
    <b>Amaç:</b> Tedarikçi onboarding sürecinde belge toplama ve süreç yönetimi.
    <br>
    <b>Saklama:</b> Belgeler, şirketinizin instance’ında tutulur. Saklama süresi plan/ayarlarınıza bağlıdır.
    <br>
    <b>Paylaşım:</b> Belgeler sadece ilgili şirket kullanıcılarıyla paylaşılır.
    <br><br>
    KVKK kapsamında talepler için destek adresi: <b><%= supportEmail %></b>
  </div>
</div>